{
  "printWidth": 120,
  "parser": "typescript",
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [{
    "files": ["*.json"],
    "options": {
      "parser": "json"
    }
  }, {
    "files": ["*.yml"],
    "options": {
      "parser": "yaml"
    }
  }, {
    "files": ["*.mdx"],
    "options": {
      "parser": "markdown"
    }
  }]
}
